<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğrenci Yönetim Sistemi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Öğrenci Yönetim Sistemi</h1>
        <hr>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_student') }}">Öğrenci Ekle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_grade') }}">Not Ekle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_attendance') }}">Devamsızlık Ekle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('list_students') }}">Öğrenci Listesi</a>
            </li>
        </ul>
    </div>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
