{% extends 'base.html' %}

{% block content %}
    <h2 class="mt-4">Öğrenci Listesi</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Öğrenci Adı</th>
                <th scope="col">Öğrenci Numarası</th>
                <th scope="col">Doğum Tarihi</th>
                <th scope="col">Adres</th>
                <th scope="col">Telefon</th>
                <th scope="col">E-posta</th>
                <th scope="col">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {% for student_id, student in students.items() %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ student.name }}</td>
                    <td>{{ student.student_number }}</td>
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.email }}</td>
                    <td>
                        <a href="{{ url_for('view_student', student_id=student_id) }}" class="btn btn-sm btn-primary">Görüntüle</a>
                        <a href="{{ url_for('delete_student', student_id=student_id) }}" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
