{% extends 'base.html' %}

{% block content %}
    <h2 class="mt-4">Öğrenci Detayları</h2>
    <hr>
    {% if student %}
        <h4>{{ student.name }}</h4>
        <p><strong>Öğrenci Numarası:</strong> {{ student.student_number }}</p>
        <p><strong>Doğum Tarihi:</strong> {{ student.birth_date }}</p>
        <p><strong>Adres:</strong> {{ student.address }}</p>
        <p><strong>Telefon:</strong> {{ student.phone }}</p>
        <p><strong>E-posta:</strong> {{ student.email }}</p>
        <hr>
        <h5>Devamsızlık Bilgisi:</h5>
        <ul>
            <li><strong>Toplam Devamsızlık:</strong> {{ attendance.total }}</li>
            <li><strong>Özürsüz Devamsızlık:</strong> {{ attendance['özürsüz'] }}</li>
            <li><strong>Özürlü Toplam Devamsızlık:</strong> {{ attendance['özürlü_total'] }}</li>
            <li><strong>İzinli Devamsızlık:</strong> {{ attendance['izinli'] }}</li>
            <li><strong>Raporlu Devamsızlık:</strong> {{ attendance['raporlu'] }}</li>
            <li><strong>Sevk Devamsızlık:</strong> {{ attendance['sevk'] }}</li>
            <li><strong>Geç Devamsızlık:</strong> {{ attendance['geç'] }}</li>
            <li><strong>Faaliyet Devamsızlık:</strong> {{ attendance['faaliyet'] }}</li>
        </ul>
        <hr>
        <h5>Not Bilgisi:</h5>
        <ul>
            {% for grade in grades %}
                <li><strong>{{ grade.subject }}:</strong> Sınav 1: {{ grade.grade1 }}, Sınav 2: {{ grade.grade2 }}, Performans 1: {{ grade.performance1 }}, Performans 2: {{ grade.performance2 }}, Proje 1: {{ grade.project1 }}, Proje 2: {{ grade.project2 }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
